@import "tailwindcss";

@font-face {
    font-family: "Fam";
    src: url("./fonts/FamiljenGrotesk-Variable.woff2") format("woff2"),
        url("./fonts/FamiljenGrotesk-Variable.woff") format("woff"),
        url("./fonts/FamiljenGrotesk-Variable.ttf") format("truetype");
    font-weight: 300 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Fam";
    src: url("./fonts/FamiljenGrotesk-VariableItalic.woff2") format("woff2"),
        url("./fonts/FamiljenGrotesk-VariableItalic.woff") format("woff"),
        url("./fonts/FamiljenGrotesk-VariableItalic.ttf") format("truetype");
    font-weight: 300 700;
    font-display: swap;
    font-style: italic;
}

@theme {
    --breakpoint-constrained: 1168px;
    --font-family-default: "Fam", var(--font-family-sans);
    --default-font-family: var(--font-family-default);

    --color-red: #f23655;
    --color-red-foreground: #fde7eb;

    --color-pink-0: #fffafd;
    --color-pink-50: #fff0fa;
    --color-pink-100: #ffd3f1;
    --color-pink-200: #ffb3e9;
    --color-pink-300: #ff91e1;
    --color-pink-400: #ff66db;
    --color-pink-500: #ef4acb;
    --color-pink-600: #d300b0;
    --color-pink-700: #98007e;
    --color-pink-800: #5e004e;
    --color-pink-900: #300026;

    --color-red-0: #fffaf9;
    --color-red-50: #fff2f0;
    --color-red-100: #ffd4ce;
    --color-red-200: #ffb5ac;
    --color-red-300: #ff9388;
    --color-red-400: #ff6c61;
    --color-red-500: #ff2b2f;
    --color-red-600: #da0018;
    --color-red-700: #9f000e;
    --color-red-800: #650006;
    --color-red-900: #360002;

    --color-orange-0: #fffcfb;
    --color-orange-50: #fff2ee;
    --color-orange-100: #ffd8ce;
    --color-orange-200: #ffbdac;
    --color-orange-300: #ffa189;
    --color-orange-400: #ff8162;
    --color-orange-500: #ff4702;
    --color-orange-600: #dc3800;
    --color-orange-700: #9e2600;
    --color-orange-800: #631400;
    --color-orange-900: #330600;

    --color-yellow-0: #fffcf3;
    --color-yellow-50: #fff5d5;
    --color-yellow-100: #ffeeb8;
    --color-yellow-200: #ffe79a;
    --color-yellow-300: #ffdf77;
    --color-yellow-400: #ffd74c;
    --color-yellow-500: #ffce00;
    --color-yellow-060: #cca600;
    --color-yellow-700: #8c7200;
    --color-yellow-800: #4f3f00;
    --color-yellow-900: #1f1700;

    --color-green-0: #f9fffb;
    --color-green-50: #deffe6;
    --color-green-100: #8dffb1;
    --color-green-200: #00f783;
    --color-green-300: #00e177;
    --color-green-400: #00cc6b;
    --color-green-500: #00bf44;
    --color-green-600: #00954d;
    --color-green-700: #006a35;
    --color-green-800: #00411e;
    --color-green-900: #001f0b;

    --color-blue-0: #f9fbff;
    --color-blue-50: #eff6ff;
    --color-blue-100: #d0e4ff;
    --color-blue-200: #b1d2ff;
    --color-blue-300: #92bfff;
    --color-blue-400: #71acff;
    --color-blue-500: #0093ff;
    --color-blue-600: #0077f3;
    --color-blue-700: #0054b0;
    --color-blue-800: #00326e;
    --color-blue-900: #001739;

    --color-purple-0: #fdfdff;
    --color-purple-50: #f6f3ff;
    --color-purple-100: #e6dcff;
    --color-purple-200: #d6c4ff;
    --color-purple-300: #c7acff;
    --color-purple-400: #b892ff;
    --color-purple-500: #b06aff;
    --color-purple-600: #963eff;
    --color-purple-700: #7000cb;
    --color-purple-800: #450080;
    --color-purple-900: #210043;

    --color-pink: var(--color-pink-500);
    --color-pink-foreground: var(--color-pink-900);
    --color-pink-dark: var(--color-pink-600);

    --color-orange: var(--color-orange-500);
    --color-orange-foreground: var(--color-orange-900);
    --color-orange-dark: var(--color-orange-600);

    --color-green: var(--color-green-500);
    --color-green-foreground: var(--color-green-900);
    --color-green-dark: var(--color-green-600);

    --color-yellow: var(--color-yellow-500);
    --color-yellow-foreground: var(--color-yellow-900);
    --color-yellow-dark: var(--color-yellow-600);

    --color-green: var(--color-green-500);
    --color-green-foreground: var(--color-green-900);
    --color-green-dark: var(--color-green-600);

    --color-blue: var(--color-blue-500);
    --color-blue-foreground: var(--color-blue-900);
    --color-blue-dark: var(--color-blue-600);

    --color-purple: var(--color-purple-500);
    --color-purple-foreground: var(--color-purple-900);
    --color-purple-dark: var(--color-purple-600);

    --color-primary-0: var(--color-green-0);
    --color-primary-50: var(--color-green-50);
    --color-primary-100: var(--color-green-100);
    --color-primary-200: var(--color-green-200);
    --color-primary-300: var(--color-green-300);
    --color-primary-400: var(--color-green-400);
    --color-primary-500: var(--color-green-500);
    --color-primary-600: var(--color-green-600);
    --color-primary-700: var(--color-green-700);
    --color-primary-800: var(--color-green-800);
    --color-primary-900: var(--color-green-900);
    --color-primary: var(--color-primary-500);

    --color-background: var(--color-primary-0);
    --color-layer: #f3f4f6;
    --color-layer-2: #cdcdcd;
    --color-foreground: var(--color-primary-900);
    --color-foreground-muted: color-mix(
        in srgb,
        var(--color-foreground) 65%,
        transparent
    );

    /* PROSE VARS */
    --tw-prose-body: var(--color-foreground-muted);
    --tw-prose-headings: var(--color-foreground);
    --tw-prose-lead: var(--color-foreground);
    --tw-prose-links: var(--color-foreground);
    --tw-prose-bold: var(--color-foreground);
    --tw-prose-counters: var(--color-foreground-muted);
    --tw-prose-bullets: color-mix(
        in srgb,
        var(--color-foreground) 40%,
        transparent
    );
    --tw-prose-hr: color-mix(in srgb, var(--color-foreground) 30%, transparent);
    --tw-prose-quotes: var(--color-foreground);
    --tw-prose-quote-borders: color-mix(
        in srgb,
        var(--color-foreground) 30%,
        transparent
    );
    --tw-prose-captions: var(--color-foreground-muted);
    --tw-prose-code: var(--color-foreground);
    --tw-prose-pre-code: var(--color-foreground);
    --tw-prose-pre-bg: var(--color-layer);
    --tw-prose-th-borders: color-mix(
        in srgb,
        var(--color-foreground) 30%,
        transparent
    );
    --tw-prose-td-borders: color-mix(
        in srgb,
        var(--color-foreground) 20%,
        transparent
    );
    --tw-prose-kbd: var(--color-foreground);
    --tw-prose-kbd-shadows: color-mix(
        in srgb,
        var(--color-foreground) 20%,
        transparent
    );
}

.dark {
    --color-background: #09090b;
    --color-layer: #18181b;
    --color-layer-2: #27272a;
    --color-foreground: #ededed;
    --color-foreground-muted: color-mix(
        in srgb,
        var(--color-foreground) 70%,
        transparent
    );
    --color-green: #2eefb5;
}

progress::-webkit-progress-bar {
    background: var(--progress-bar-bg, var(--color-primary-100));
}

progress::-webkit-progress-value {
    background: var(--progress-bar, var(--color-primary-500));
}

@layer utilities {
    .prose {
        color: var(--tw-prose-body);
        max-width: 65ch;
        text-wrap: pretty;
    }

    .prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .prose
        :where([class~="lead"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: var(--tw-prose-lead);
        font-size: 1.25em;
        line-height: 1.6;
        margin-top: 1.2em;
        margin-bottom: 1.2em;
    }

    .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-links);
        text-decoration: underline;
        font-weight: 500;
    }

    .prose
        :where(strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: var(--tw-prose-bold);
        font-weight: 600;
    }

    .prose
        :where(a strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(blockquote strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(thead th strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        list-style-type: decimal;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        padding-inline-start: 1.625em;
    }

    .prose
        :where(ol[type="A"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: upper-alpha;
    }

    .prose
        :where(ol[type="a"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: lower-alpha;
    }

    .prose
        :where(ol[type="A s"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: upper-alpha;
    }

    .prose
        :where(ol[type="a s"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: lower-alpha;
    }

    .prose
        :where(ol[type="I"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: upper-roman;
    }

    .prose
        :where(ol[type="i"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: lower-roman;
    }

    .prose
        :where(ol[type="I s"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: upper-roman;
    }

    .prose
        :where(ol[type="i s"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: lower-roman;
    }

    .prose
        :where(ol[type="1"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        list-style-type: decimal;
    }

    .prose
        :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        list-style-type: disc;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        padding-inline-start: 1.625em;
    }

    .prose
        :where(ol > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        )::marker {
        font-weight: 400;
        color: var(--tw-prose-counters);
    }

    .prose
        :where(ul > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        )::marker {
        color: var(--tw-prose-bullets);
    }

    .prose
        :where(dt):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-headings);
        font-weight: 600;
        margin-top: 1.25em;
    }

    .prose
        :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        border-color: var(--tw-prose-hr);
        border-top-width: 1px;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .prose
        :where(blockquote):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-weight: 500;
        font-style: italic;
        font-family: var(--font-family-display);
        color: var(--tw-prose-quotes);
        border-inline-start-width: 0.25rem;
        border-inline-start-color: var(--tw-prose-quote-borders);
        quotes: none;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        padding-inline-start: 1em;
    }

    .prose
        :where(blockquote > cite):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        @apply text-primary mt-2 block text-sm;
    }

    .prose
        :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-headings);
        font-family: var(--font-family-display);
        font-weight: 600;
        font-size: 2.25em;
        margin-top: 0;
        margin-bottom: 0.8888889em;
        line-height: 1.1111111;
    }

    .prose
        :where(h1 strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-weight: 700;
        color: inherit;
    }

    .prose
        :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-headings);
        font-family: var(--font-family-display);
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 2em;
        margin-bottom: 1em;
        line-height: 1.3333333;
    }

    .prose
        :where(h2 strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-weight: 700;
        color: inherit;
    }

    .prose
        :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-headings);
        font-family: var(--font-family-display);
        font-weight: 600;
        font-size: 1.25em;
        margin-top: 1.6em;
        margin-bottom: 0.6em;
        line-height: 1.6;
    }

    .prose
        :where(h3 strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-weight: 700;
        color: inherit;
    }

    .prose
        :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-headings);
        font-family: var(--font-family-display);
        font-weight: 600;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        line-height: 1.5;
    }

    .prose
        :where(h4 strong):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-weight: 700;
        color: inherit;
    }

    .prose
        :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .prose
        :where(picture):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .prose
        :where(video):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .prose
        :where(kbd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-weight: 500;
        font-family: inherit;
        color: var(--tw-prose-kbd);
        box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%),
            0 3px rgb(var(--tw-prose-kbd-shadows) / 10%);
        font-size: 0.875em;
        border-radius: 0.3125rem;
        padding-top: 0.1875em;
        padding-inline-end: 0.375em;
        padding-bottom: 0.1875em;
        padding-inline-start: 0.375em;
    }

    .prose
        :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-code);
        font-weight: 600;
        font-size: 0.875em;
    }

    .prose
        :where(code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ):before {
        content: "`";
    }

    .prose
        :where(code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ):after {
        content: "`";
    }

    .prose
        :where(a code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(h1 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(h2 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
        font-size: 0.875em;
    }

    .prose
        :where(h3 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
        font-size: 0.9em;
    }

    .prose
        :where(h4 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(blockquote code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(thead th code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: inherit;
    }

    .prose
        :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        color: var(--tw-prose-pre-code);
        background-color: var(--tw-prose-pre-bg);
        overflow-x: auto;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 1.7142857;
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
        border-radius: 0.375rem;
        padding-top: 0.8571429em;
        padding-inline-end: 1.1428571em;
        padding-bottom: 0.8571429em;
        padding-inline-start: 1.1428571em;
    }

    .prose
        :where(pre code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-weight: inherit;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
    }

    .prose
        :where(pre code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ):before {
        content: none;
    }

    .prose
        :where(pre code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ):after {
        content: none;
    }

    .prose
        :where(table):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        width: 100%;
        table-layout: auto;
        text-align: start;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 0.875em;
        line-height: 1.7142857;
    }

    .prose
        :where(thead):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        border-bottom-width: 1px;
        border-bottom-color: var(--tw-prose-th-borders);
    }

    .prose
        :where(thead th):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: var(--tw-prose-headings);
        font-weight: 600;
        vertical-align: bottom;
        padding-inline-end: 0.5714286em;
        padding-bottom: 0.5714286em;
        padding-inline-start: 0.5714286em;
    }

    .prose
        :where(tbody tr):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        border-bottom-width: 1px;
        border-bottom-color: var(--tw-prose-td-borders);
    }

    .prose
        :where(tbody tr:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        border-bottom-width: 0;
    }

    .prose
        :where(tbody td):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        vertical-align: baseline;
    }

    .prose
        :where(tfoot):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        border-top-width: 1px;
        border-top-color: var(--tw-prose-th-borders);
    }

    .prose
        :where(tfoot td):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        vertical-align: top;
    }

    .prose
        :where(figure > *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose
        :where(figcaption):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        color: var(--tw-prose-captions);
        font-size: 0.875em;
        line-height: 1.4285714;
        margin-top: 0.8571429em;
    }

    .prose {
        font-size: 1rem;
        line-height: 1.75;
    }

    .prose
        :where(picture > img):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose
        :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .prose
        :where(ol > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0.375em;
    }

    .prose
        :where(ul > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0.375em;
    }

    .prose
        :where(.prose > ul > li p):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .prose
        :where(.prose > ul > li > p:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.25em;
    }

    .prose
        :where(.prose > ul > li > p:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 1.25em;
    }

    .prose
        :where(.prose > ol > li > p:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.25em;
    }

    .prose
        :where(.prose > ol > li > p:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 1.25em;
    }

    .prose
        :where(ul ul, ul ol, ol ul, ol ol):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .prose
        :where(dl):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }

    .prose
        :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 0.5em;
        padding-inline-start: 1.625em;
    }

    .prose
        :where(hr + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose
        :where(h2 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose
        :where(h3 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose
        :where(h4 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose
        :where(thead th:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0;
    }

    .prose
        :where(thead th:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-end: 0;
    }

    .prose
        :where(tbody td, tfoot td):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-top: 0.5714286em;
        padding-inline-end: 0.5714286em;
        padding-bottom: 0.5714286em;
        padding-inline-start: 0.5714286em;
    }

    .prose
        :where(tbody td:first-child, tfoot td:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0;
    }

    .prose
        :where(tbody td:last-child, tfoot td:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-end: 0;
    }

    .prose
        :where(figure):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .prose
        :where(.prose > :first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose
        :where(.prose > :last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 0;
    }

    .prose-sm {
        font-size: 0.875rem;
        line-height: 1.7142857;
    }

    .prose-sm
        :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.1428571em;
        margin-bottom: 1.1428571em;
    }

    .prose-sm
        :where([class~="lead"]):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-size: 1.2857143em;
        line-height: 1.5555556;
        margin-top: 0.8888889em;
        margin-bottom: 0.8888889em;
    }

    .prose-sm
        :where(blockquote):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.3333333em;
        margin-bottom: 1.3333333em;
        padding-inline-start: 1.1111111em;
    }

    .prose-sm
        :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 2.1428571em;
        margin-top: 0;
        margin-bottom: 0.8em;
        line-height: 1.2;
    }

    .prose-sm
        :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 1.4285714em;
        margin-top: 1.6em;
        margin-bottom: 0.8em;
        line-height: 1.4;
    }

    .prose-sm
        :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 1.2857143em;
        margin-top: 1.5555556em;
        margin-bottom: 0.4444444em;
        line-height: 1.5555556;
    }

    .prose-sm
        :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.4285714em;
        margin-bottom: 0.5714286em;
        line-height: 1.4285714;
    }

    .prose-sm
        :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
    }

    .prose-sm
        :where(picture):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
    }

    .prose-sm
        :where(picture > img):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose-sm
        :where(video):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
    }

    .prose-sm
        :where(kbd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 0.8571429em;
        border-radius: 0.3125rem;
        padding-top: 0.1428571em;
        padding-inline-end: 0.3571429em;
        padding-bottom: 0.1428571em;
        padding-inline-start: 0.3571429em;
    }

    .prose-sm
        :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 0.8571429em;
    }

    .prose-sm
        :where(h2 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-size: 0.9em;
    }

    .prose-sm
        :where(h3 code):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-size: 0.8888889em;
    }

    .prose-sm
        :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        font-size: 0.8571429em;
        line-height: 1.6666667;
        margin-top: 1.6666667em;
        margin-bottom: 1.6666667em;
        border-radius: 0.25rem;
        padding-top: 0.6666667em;
        padding-inline-end: 1em;
        padding-bottom: 0.6666667em;
        padding-inline-start: 1em;
    }

    .prose-sm
        :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.1428571em;
        margin-bottom: 1.1428571em;
        padding-inline-start: 1.5714286em;
    }

    .prose-sm
        :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.1428571em;
        margin-bottom: 1.1428571em;
        padding-inline-start: 1.5714286em;
    }

    .prose-sm
        :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 0.2857143em;
        margin-bottom: 0.2857143em;
    }

    .prose-sm
        :where(ol > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0.4285714em;
    }

    .prose-sm
        :where(ul > li):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0.4285714em;
    }

    .prose-sm
        :where(.prose-sm > ul > li p):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0.5714286em;
        margin-bottom: 0.5714286em;
    }

    .prose-sm
        :where(.prose-sm > ul > li > p:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.1428571em;
    }

    .prose-sm
        :where(.prose-sm > ul > li > p:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 1.1428571em;
    }

    .prose-sm
        :where(.prose-sm > ol > li > p:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.1428571em;
    }

    .prose-sm
        :where(.prose-sm > ol > li > p:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 1.1428571em;
    }

    .prose-sm
        :where(ul ul, ul ol, ol ul, ol ol):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0.5714286em;
        margin-bottom: 0.5714286em;
    }

    .prose-sm
        :where(dl):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.1428571em;
        margin-bottom: 1.1428571em;
    }

    .prose-sm
        :where(dt):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 1.1428571em;
    }

    .prose-sm
        :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 0.2857143em;
        padding-inline-start: 1.5714286em;
    }

    .prose-sm
        :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        margin-top: 2.8571429em;
        margin-bottom: 2.8571429em;
    }

    .prose-sm
        :where(hr + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose-sm
        :where(h2 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose-sm
        :where(h3 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose-sm
        :where(h4 + *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose-sm
        :where(table):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-size: 0.8571429em;
        line-height: 1.5;
    }

    .prose-sm
        :where(thead th):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-end: 1em;
        padding-bottom: 0.6666667em;
        padding-inline-start: 1em;
    }

    .prose-sm
        :where(thead th:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0;
    }

    .prose-sm
        :where(thead th:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-end: 0;
    }

    .prose-sm
        :where(tbody td, tfoot td):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-top: 0.6666667em;
        padding-inline-end: 1em;
        padding-bottom: 0.6666667em;
        padding-inline-start: 1em;
    }

    .prose-sm
        :where(tbody td:first-child, tfoot td:first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-start: 0;
    }

    .prose-sm
        :where(tbody td:last-child, tfoot td:last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        padding-inline-end: 0;
    }

    .prose-sm
        :where(figure):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 1.7142857em;
        margin-bottom: 1.7142857em;
    }

    .prose-sm
        :where(figure > *):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .prose-sm
        :where(figcaption):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        font-size: 0.8571429em;
        line-height: 1.3333333;
        margin-top: 0.6666667em;
    }

    .prose-sm
        :where(.prose-sm > :first-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-top: 0;
    }

    .prose-sm
        :where(.prose-sm > :last-child):not(
            :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        margin-bottom: 0;
    }

    @media (min-width: 1024px) {
        .lg\:prose-base {
            font-size: 1rem;
            line-height: 1.75;
        }

        .lg\:prose-base
            :where(p):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
            margin-bottom: 1.25em;
        }

        .lg\:prose-base
            :where([class~="lead"]):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.25em;
            line-height: 1.6;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
        }

        .lg\:prose-base
            :where(blockquote):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.6em;
            margin-bottom: 1.6em;
            padding-inline-start: 1em;
        }

        .lg\:prose-base
            :where(h1):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 2.25em;
            margin-top: 0;
            margin-bottom: 0.8888889em;
            line-height: 1.1111111;
        }

        .lg\:prose-base
            :where(h2):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.5em;
            margin-top: 2em;
            margin-bottom: 1em;
            line-height: 1.3333333;
        }

        .lg\:prose-base
            :where(h3):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.25em;
            margin-top: 1.6em;
            margin-bottom: 0.6em;
            line-height: 1.6;
        }

        .lg\:prose-base
            :where(h4):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.5em;
            margin-bottom: 0.5em;
            line-height: 1.5;
        }

        .lg\:prose-base
            :where(img):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .lg\:prose-base
            :where(picture):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .lg\:prose-base
            :where(picture > img):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .lg\:prose-base
            :where(video):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .lg\:prose-base
            :where(kbd):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
            border-radius: 0.3125rem;
            padding-top: 0.1875em;
            padding-inline-end: 0.375em;
            padding-bottom: 0.1875em;
            padding-inline-start: 0.375em;
        }

        .lg\:prose-base
            :where(code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
        }

        .lg\:prose-base
            :where(h2 code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
        }

        .lg\:prose-base
            :where(h3 code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.9em;
        }

        .lg\:prose-base
            :where(pre):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
            line-height: 1.7142857;
            margin-top: 1.7142857em;
            margin-bottom: 1.7142857em;
            border-radius: 0.375rem;
            padding-top: 0.8571429em;
            padding-inline-end: 1.1428571em;
            padding-bottom: 0.8571429em;
            padding-inline-start: 1.1428571em;
        }

        .lg\:prose-base
            :where(ol):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
            margin-bottom: 1.25em;
            padding-inline-start: 1.625em;
        }

        .lg\:prose-base
            :where(ul):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
            margin-bottom: 1.25em;
            padding-inline-start: 1.625em;
        }

        .lg\:prose-base
            :where(li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .lg\:prose-base
            :where(ol > li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0.375em;
        }

        .lg\:prose-base
            :where(ul > li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0.375em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > ul > li p):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.75em;
            margin-bottom: 0.75em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > ul > li > p:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > ul > li > p:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 1.25em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > ol > li > p:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > ol > li > p:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 1.25em;
        }

        .lg\:prose-base
            :where(ul ul, ul ol, ol ul, ol ol):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.75em;
            margin-bottom: 0.75em;
        }

        .lg\:prose-base
            :where(dl):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
            margin-bottom: 1.25em;
        }

        .lg\:prose-base
            :where(dt):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.25em;
        }

        .lg\:prose-base
            :where(dd):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.5em;
            padding-inline-start: 1.625em;
        }

        .lg\:prose-base
            :where(hr):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 3em;
            margin-bottom: 3em;
        }

        .lg\:prose-base
            :where(hr + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .lg\:prose-base
            :where(h2 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .lg\:prose-base
            :where(h3 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .lg\:prose-base
            :where(h4 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .lg\:prose-base
            :where(table):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
            line-height: 1.7142857;
        }

        .lg\:prose-base
            :where(thead th):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0.5714286em;
            padding-bottom: 0.5714286em;
            padding-inline-start: 0.5714286em;
        }

        .lg\:prose-base
            :where(thead th:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0;
        }

        .lg\:prose-base
            :where(thead th:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0;
        }

        .lg\:prose-base
            :where(tbody td, tfoot td):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-top: 0.5714286em;
            padding-inline-end: 0.5714286em;
            padding-bottom: 0.5714286em;
            padding-inline-start: 0.5714286em;
        }

        .lg\:prose-base
            :where(tbody td:first-child, tfoot td:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0;
        }

        .lg\:prose-base
            :where(tbody td:last-child, tfoot td:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0;
        }

        .lg\:prose-base
            :where(figure):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .lg\:prose-base
            :where(figure > *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .lg\:prose-base
            :where(figcaption):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
            line-height: 1.4285714;
            margin-top: 0.8571429em;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > :first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .lg\:prose-base
            :where(.lg\:prose-base > :last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 0;
        }
    }

    @media (min-width: 1280px) {
        .xl\:prose-lg {
            font-size: 1.125rem;
            line-height: 1.7777778;
        }

        .xl\:prose-lg
            :where(p):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
            margin-bottom: 1.3333333em;
        }

        .xl\:prose-lg
            :where([class~="lead"]):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.2222222em;
            line-height: 1.4545455;
            margin-top: 1.0909091em;
            margin-bottom: 1.0909091em;
        }

        .xl\:prose-lg
            :where(blockquote):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.6666667em;
            margin-bottom: 1.6666667em;
            padding-inline-start: 1em;
        }

        .xl\:prose-lg
            :where(h1):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 2.6666667em;
            margin-top: 0;
            margin-bottom: 0.8333333em;
            line-height: 1;
        }

        .xl\:prose-lg
            :where(h2):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.6666667em;
            margin-top: 1.8666667em;
            margin-bottom: 1.0666667em;
            line-height: 1.3333333;
        }

        .xl\:prose-lg
            :where(h3):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 1.3333333em;
            margin-top: 1.6666667em;
            margin-bottom: 0.6666667em;
            line-height: 1.5;
        }

        .xl\:prose-lg
            :where(h4):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.7777778em;
            margin-bottom: 0.4444444em;
            line-height: 1.5555556;
        }

        .xl\:prose-lg
            :where(img):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.7777778em;
            margin-bottom: 1.7777778em;
        }

        .xl\:prose-lg
            :where(picture):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.7777778em;
            margin-bottom: 1.7777778em;
        }

        .xl\:prose-lg
            :where(picture > img):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .xl\:prose-lg
            :where(video):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.7777778em;
            margin-bottom: 1.7777778em;
        }

        .xl\:prose-lg
            :where(kbd):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8888889em;
            border-radius: 0.3125rem;
            padding-top: 0.2222222em;
            padding-inline-end: 0.4444444em;
            padding-bottom: 0.2222222em;
            padding-inline-start: 0.4444444em;
        }

        .xl\:prose-lg
            :where(code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8888889em;
        }

        .xl\:prose-lg
            :where(h2 code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8666667em;
        }

        .xl\:prose-lg
            :where(h3 code):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.875em;
        }

        .xl\:prose-lg
            :where(pre):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8888889em;
            line-height: 1.75;
            margin-top: 2em;
            margin-bottom: 2em;
            border-radius: 0.375rem;
            padding-top: 1em;
            padding-inline-end: 1.5em;
            padding-bottom: 1em;
            padding-inline-start: 1.5em;
        }

        .xl\:prose-lg
            :where(ol):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
            margin-bottom: 1.3333333em;
            padding-inline-start: 1.5555556em;
        }

        .xl\:prose-lg
            :where(ul):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
            margin-bottom: 1.3333333em;
            padding-inline-start: 1.5555556em;
        }

        .xl\:prose-lg
            :where(li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.6666667em;
            margin-bottom: 0.6666667em;
        }

        .xl\:prose-lg
            :where(ol > li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0.4444444em;
        }

        .xl\:prose-lg
            :where(ul > li):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0.4444444em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > ul > li p):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.8888889em;
            margin-bottom: 0.8888889em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > ul > li > p:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > ul > li > p:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 1.3333333em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > ol > li > p:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > ol > li > p:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 1.3333333em;
        }

        .xl\:prose-lg
            :where(ul ul, ul ol, ol ul, ol ol):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.8888889em;
            margin-bottom: 0.8888889em;
        }

        .xl\:prose-lg
            :where(dl):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
            margin-bottom: 1.3333333em;
        }

        .xl\:prose-lg
            :where(dt):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.3333333em;
        }

        .xl\:prose-lg
            :where(dd):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0.6666667em;
            padding-inline-start: 1.5555556em;
        }

        .xl\:prose-lg
            :where(hr):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 3.1111111em;
            margin-bottom: 3.1111111em;
        }

        .xl\:prose-lg
            :where(hr + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .xl\:prose-lg
            :where(h2 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .xl\:prose-lg
            :where(h3 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .xl\:prose-lg
            :where(h4 + *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .xl\:prose-lg
            :where(table):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8888889em;
            line-height: 1.5;
        }

        .xl\:prose-lg
            :where(thead th):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0.75em;
            padding-bottom: 0.75em;
            padding-inline-start: 0.75em;
        }

        .xl\:prose-lg
            :where(thead th:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0;
        }

        .xl\:prose-lg
            :where(thead th:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0;
        }

        .xl\:prose-lg
            :where(tbody td, tfoot td):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-top: 0.75em;
            padding-inline-end: 0.75em;
            padding-bottom: 0.75em;
            padding-inline-start: 0.75em;
        }

        .xl\:prose-lg
            :where(tbody td:first-child, tfoot td:first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-start: 0;
        }

        .xl\:prose-lg
            :where(tbody td:last-child, tfoot td:last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            padding-inline-end: 0;
        }

        .xl\:prose-lg
            :where(figure):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 1.7777778em;
            margin-bottom: 1.7777778em;
        }

        .xl\:prose-lg
            :where(figure > *):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
            margin-bottom: 0;
        }

        .xl\:prose-lg
            :where(figcaption):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            font-size: 0.8888889em;
            line-height: 1.5;
            margin-top: 1em;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > :first-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-top: 0;
        }

        .xl\:prose-lg
            :where(.xl\:prose-lg > :last-child):not(
                :where([class~="not-prose"], [class~="not-prose"] *)
            ) {
            margin-bottom: 0;
        }
    }
}
